<li>
    <a href="<%= baseURL %>/info" class="item <% if (page==='info') { %> active <% } %>">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Info</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/microphone" class="item <% if (page==='microphone') { %> active <% } %>">
        <i class="bx bx-box"></i>
        <span class="links_name">Microphone</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/contacts" class="item <% if (page==='contacts') { %> active <% } %>">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Contacts</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/calls" class="item <% if (page==='calls') { %> active <% } %>">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Call Log</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/gps" class="item <% if (page==='gps') { %> active <% } %>">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">GPS</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/clipboard" class="item <% if (page==='clipboard') { %> active <% } %>">
        <i class="bx bx-book-alt"></i>
        <span class="links_name">Clipboard Log</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/notifications" class="item <% if (page==='notifications') { %> active <% } %>">
        <i class="bx bx-user"></i> 
        <span class="links_name">Notification Log</span>
    </a>
</li>      
<li>
    <a href="<%= baseURL %>/sms" class="item <% if (page==='sms') { %> active <% } %>">
        <i class="bx bx-message"></i> 
        <span class="links_name">SMS Manager</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/wifi" class="item <% if (page==='wifi') { %> active <% } %>">
        <i class="bx bx-heart"></i> 
        <span class="links_name">WiFi Manager</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/camera" class="item <% if (page==='camera') { %> active <% } %>">
        <i class="bx bx-cog"></i> 
        <span class="links_name">Camera</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/apps" class="item <% if (page==='apps') { %> active <% } %>">
        <i class="bx bx-grid-alt"></i> 
        <span class="links_name">Installed Apps</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/permissions" class="item <% if (page==='permissions') { %> active <% } %>">
        <i class="bx bx-list-ul"></i> 
        <span class="links_name">Allowed Permissions</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/files" class="item <% if (page==='files') { %> active <% } %>">
        <i class="bx bx-user"></i> 
        <span class="links_name">File Explorer</span>
    </a>
</li>
<li>
    <a href="<%= baseURL %>/downloads" class="item <% if (page==='downloads') { %> active <% } %>">
        <i class="bx bx-cog"></i> 
        <span class="links_name">Downloads</span>
    </a>
</li>      
<li>
    <a href="/logout" class="item">
        <i class="bx bx-log-out"></i> 
        <span class="links_name">Logout</span>
    </a>
</li>   
      
      
      
      
      
      
      
      
      
      

