
<div class="recent-sales box">
    <div class="title">Downloads</div>
    <div class="sales-details">

        <ul class="details">
            <li class="topic">Name</li>

            <% pageData.forEach((item) => { 
                    let date = new Date(item.time);
                %>

                   <li><a href="#"><%= item.originalName %></a></li>

                <% }) %>

        </ul>

        <ul class="details">
            <li class="topic">Date</li>

            <% pageData.forEach((item) => { 
                    let date = new Date(item.time);
                %>

                   <li><a href="#"><%= date.toLocaleString('en-GB', { timeZone: 'UTC' }) %></a></li>

                <% }) %>

        </ul>

        <ul class="details">
            <li class="topic"></li>

            <% pageData.forEach((item) => { 
                    let date = new Date(item.time);
                %>

                   <li><a target="_blank" href="<%= item.path %>">Open</a></li>

                <% }) %>

        </ul>

        <ul class="details">
            <li class="topic"></li>

            <% pageData.forEach((item) => { 
                    let date = new Date(item.time);
                %>

                   <li><a download="<%= item.originalName %>" href="<%= item.path %>">Save</a></li>

                <% }) %>

        </ul>

    </div>



    <button style="background: rgb(11, 0, 107); color: white; border-style: none; padding: 7px;" onclick="updateButton(this, '0xIN')">Update</button>



    </div>


    <div class="top-sales box">
      <div class="title">About</div>
      <ul class="top-sales-details">
        <li>
        <a href="#">
          <!--<img src="images/sunglasses.jpg" alt="">-->
          <span class="product">
Check Your Downloads</span>
        </a>
      </li>
      </ul>

      <div class="button">
        <a href="#">Learn More</a>
      </div>

    </div>


    

</div>